<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>添加图书</h1>
	<form action="add.action" method="get">
		<table id="tab" border='1'>
			<tr>
				<td>书名:</td>
				<td><input type="text" id="name" name="name" /></td>
			</tr>
			<tr>
				<td>作者:</td>
				<td><input type="text" id="author" name="author" /></td>
			</tr>
			<tr>
				<td>时间:</td>
				<td><input type="date" id="time" name="time"/></td>
			</tr>
			<tr>
				<td>类型:</td>
				<td><input type="text" id="type" name="type"/></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" id="sub" value="登录" name="sub"/></td>
			</tr>
		</table>
	</form>
</body>
</html>